h1{
	font-family:Helvetica;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	color:white;
}

h2{
	text-align:center;
	font-size: 5vh;
	padding-top: 5vh;
	color:black;
	font-family:Helvetica;
}

h3{
	font-size: 2vh;
}
hr{
	width:20%;
	text-align:left;
	margin-left:15%;
	height:4px;
}

body{
	background-color:white;
	color:black;
	margin: 0;
}


.container-fluid{
	background-color:lightblue;
	padding:0;
}

.overlay{
	position: fixed; /* Keeps the overlay on screen */
	display: flex;
	flex-direction: column;
	cursor: pointer; /* Add a pointer on hover */
	width:9vw;
	background-color: darkgrey;
	padding-top: 1vh;
	padding-bottom: 1vh;
}

.overlay button{
	padding-top: 1vh;
	padding-bottom: 1vh;
	width: 100%;
}
.overlay button:hover{
	background-color:black;
	color:white;
}

.flexbox-skillsTab{
	justify-content: space-around;
	margin: 10vh;
}

.fwh-slide{
	height: 100vh;
	width:100%;
	box-sizing: border-box;
	justify-content:center;
	align-items:center;
	background-color: #ffa000;	
	
}

.about-col{
	background-color: purple;
	padding-top: 8vh;
}

.skills-col{
	height: 60vh;
	background-color:pink;
	text-align: center;
	
}

.p1{
	font-size: 2vh;
	
}
