h1{
	font-family:Helvetica;
	transform: translate(36vw, 45vh);
	color:white;
	font-size:5vh;
}

.sub-heading{
	transform: translate(36vw, 45vh);
	font-size: 3vh;
	color:white;
}

h2{
	font-family:Helvetica;
	text-align:center;
	font-size: 5vh;
	padding-top: 5vh;
	color:black;
}

h3{
	font-size: 2vh;
}
hr{
	width:20%;
	text-align:left;
	margin-left:15%;
	height:4px;
}

p{
	font-size: 1.9vh;
}
body{
	background-color:white;
	color:black;
	margin: 0;
}


.container-fluid{
	background-color:lightblue;
	padding:0;
}

.overlay{
	position: fixed; /* Keeps the overlay on screen */
	display: flex;
	flex-direction: column;
	cursor: pointer; /* Add a pointer on hover */
	width:9vw;
	background-color: darkgrey;
	padding-top: 1vh;
	padding-bottom: 1vh;
	z-index: 2;
}

.overlay button{
	padding-top: 1vh;
	padding-bottom: 1vh;
	width: 100%;
}
.overlay button:hover{
	background-color:black;
	color:white;
}

.flexbox-skillsTab{
	justify-content: space-around;
	margin: 10vh;
}

.fwh-slide{
	height: 100vh;
	width:100%;
	box-sizing: border-box;
	justify-content:center;
	align-items:center;
	background-color: #ffa000;	
	
}

.about-col{
	background-color: purple;
	padding-top: 8vh;
}

.skills-col{
	height: 60vh;
	background-color:pink;
	text-align: center;
	
}

.p1{
	font-size: 2vh;
	
}

.exp-tab{
	background-image: linear-gradient(#f8bf07,white);
}

/* Carousel Styles */
.carousel-caption{
	background: rgba(0,0,0,0.6);
	width :60vw;
	transform: translateX(+7.6%);
}
.carousel-inner > .carousel-item >img{
	padding-top: 8vh;
	height:75vh;
	width :60vw;
  }

  .carousel-control-next{
	height:10vh;
	transform: translate(0%,35vh);
  }
  .carousel-control-prev{
	height:10vh;
	transform: translate(0%,35vh);
  }

/* Timeline Styles */
  .hori-timeline .events {
    border-top: 3px solid #e9ecef;
}
.hori-timeline .events .event-list {
    display: block;
    position: relative;
    text-align: center;
    padding-top: 70px;
    margin-right: 0;
}
.hori-timeline .events .event-list:before {
    content: "";
    position: absolute;
    height: 40vh;
    border-right: 2px dashed #dee2e6;
    top: 0;
}
.hori-timeline .events .event-list .event-date {
    position: absolute;
    top: 38px;
    left: 0;
    right: 0;
    width: 75px;
    margin: 0 auto;
    border-radius: 4px;
    padding: 2px 4px;
}
@media (min-width: 1140px) {
    .hori-timeline .events .event-list {
        display: inline-block;
        width: 24%;
        padding-top: 45px;
    }
    .hori-timeline .events .event-list .event-date {
        top: -12px;
    }
}

/*Timeline event styles */
.bg-soft-card1 {
    background-color: rgba(64,144,203,.3);
}
.bg-soft-card2 {
    background-color: rgba(71,189,154,.3);
}
.bg-soft-card3 {
    background-color: rgba(231,76,94,.3);
}
.bg-soft-card4 {
    background-color: rgba(249,213,112,.3);
}
.card {
    border: none;
    margin-bottom: 24px;
    -webkit-box-shadow: 0 0 13px 0 rgba(236,236,241,.44);
    box-shadow: 0 0 13px 0 rgba(236,236,241,.44);
	background-color: none;
	--bs-card-bg:none;
}


*,
*::before,
*::after {
  	box-sizing: border-box;
}

.timeline {
 	position: relative;
  	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	padding: 15px 0;
}

.timeline::after {
	content: '';
	position: absolute;
	width: 2px;
	background: #006E51;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -1px;
}

.container {
	position: relative;
	background: inherit;
	width: 50%;
	margin:0;
}

.container.left {
  	left: 0;
}

.container.right {
 	 left: 50%;
}

.container::after {
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	top: calc(50% - 8px);
	right: -8px;
	background: #ffffff;
	border: 2px solid #006E51;
	border-radius: 16px;
	z-index: 1;
}

.container.right::after {
 	 left: -8px;
}

.container::before {
	content: '';
	position: absolute;
	width: 50px;
	height: 2px;
	top: calc(50% - 1px);
	right: 8px;
	background: #006E51;
	z-index: 1;
}

.container.right::before {
  	left: 8px;
}

.container .date {
	position: absolute;
	display: inline-block;
	top: calc(50% - 8px);
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #006E51;
	text-transform: uppercase;
	letter-spacing: 1px;
	z-index: 1;
}

.container.left .date {
  	right: -75px;
}

.container.right .date {
 	left: -75px;
}

.container .icon {
	position: absolute;
	display: inline-block;
	width: 2vw;
	height: 2vw;
	padding: 9px 0;
	top: calc(50% - 20px);
	background: #F6D155;
	border: 2px solid #006E51;
	border-radius: 40px;
	text-align: center;
	font-size: 18px;
	color: #006E51;
	z-index: 1;
}

.container.left .icon {
  	right: 56px;
}

.container.right .icon {
  	left: 56px;
}

.container .content {
	padding: 30px 90px 30px 30px;
	background: #F6D155;
	position: relative;
	border-radius: 0 500px 500px 0;
}

.container.right .content {
	padding: 30px 30px 30px 90px;
	border-radius: 500px 0 0 500px;
}

.container .content h2 {
	margin: 0 0 10px 0;
	font-size: 18px;
	font-weight: normal;
	color: #006E51;
}

.container .content p {
	margin: 0;
	font-size: 16px;
	line-height: 22px;
	color: #000000;
}

@media (max-width: 50vw) {
  .timeline::after {
	 left: 90px;
  }

  .container {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }

  .container.right {
    left: 0%;
  }

  .container.left::after, 
  .container.right::after {
    left: 82px;
  }

  .container.left::before,
  .container.right::before {
    left: 100px;
    border-color: transparent #006E51 transparent transparent;
  }

  .container.left .date,
  .container.right .date {
    right: auto;
    left: 15px;
  }

  .container.left .icon,
  .container.right .icon {
    right: auto;
    left: 146px;
  }

  .container.left .content,
  .container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }
}