h1{
	margin-top:15%;	
	text-align:left;
	font-size: 400%;
	color:rgb(91, 78, 70);
	font-family:Helvetica;
	line-height:60%;
	padding-left:10%;
}

h2{
	text-align:left;
	font-size: 160%;
	color:grey;
	font-family:Helvetica;
	line-height:60%;
	padding-left:12%;
	letter-spacing:1px;
}

hr{
	width:20%;
	text-align:left;
	margin-left:15%;
	height:4px;
}

body{
	background-color:white;
	color:black;
}

.container{
	background-color:lightblue;
	width:100%;
	color:grey;

}
.leftColumn{
	display:flex;
	background-color:white;
	float:left;
	width:20%;
	height:90%;
	position:relative;
	text-align:left;
	color:grey;
	font-family:Gentium Plus;	
	flex-direction:column;
	 
}
.middleColumn{
	background-color:white;
	float:left;
	width:60%;
	height:90%;
	text-align:left;

}
.middleRow{
	margin-bottom:20%;
	height:500px;
	background-color:black:
}

.rightColumn{
	float:right;
	width:200px;
	margin-right:-200px;
	position:relative;
}

.subHeading{
	margin-top:20%;
	color:grey;
	font-size:25px;
	font-family:Gentium Plus;	
	padding-left:15%;
	content
}

.leftColumn > div {
	margin-top:10%;
	font-size:18px;
	padding-left:15%;	
}

.leftColumn > a{
	padding-top:10%;
	font-size:18px;
	padding-left:15%;	
}
.content{
	height:800px;
}
